
/*------Grillas de Imagenes---------*/

/*Seccion Gallery*/
.section-galeria {
    position: relative;
    top: 18vh;
}
.div-galeria{
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "a b c" 
    "d e f"
    "g h i";
    gap: 2%;
}
 
.img-galeria {
    width: 30vw;
    border-radius: 3px;
}
.h2-galeria {
display: flex;
   justify-content: center;
   padding-bottom: 2%;
}
/*Seccion Works a*/
.section-works-a {
        position: relative;
        top: 30vh;
}

.h3-works-a {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.div-works-a{
@extend .div-galeria }

.img-works-a {
    width: 30vw;
    border-radius: 3px;
}

/*Seccion Works b*/
.section-works-b {
    position: relative;
    top: 35vh;
}

.h3-works-b {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.div-works-b{
        @extend .div-galeria 
}

.img-works-b {
    width: 30vw;
    border-radius: 3px;
}
/*------ Fin de Grillas de Imagenes---------*/