/*Seccion Gallery*/
.section-galeria {
    position: relative;
    top: 200px;
}
.div-galeria{
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "a b c" 
    "d e f"
    "g h i";
    gap: 20px;
}
 
.img-galeria {
    width: 400px;
    border-radius: 3px;
}
.h2-galeria {
    display: flex;
   justify-content: center;
   padding: 5%;
}
/*Seccion Works a*/

.section-works-a {
        position: relative;
        top: 250px;
}

.h3-works-a {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.div-works-a{
@extend .div-galeria }

.img-works-a {
    width: 400px;
    border-radius: 3px;
}

/*Seccion Works b*/

.section-works-b {
    position: relative;
    top: 300px;
}

.h3-works-b {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.div-works-b{
        @extend .div-galeria 
}

.img-works-b {
    width: 400px;
    border-radius: 3px;
}