$colors: (
"primary": rgb(236, 196, 130), 
"secundary":rgb(153, 139, 118),
"background-menu":  rgba(0, 0, 0, 0.493),
"background": black,
);

main {
    background-color: map-get($colors, "background");
}

#header-menu {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 110px;
    top: 0;
    left: 0;
    background-color: map-get($colors, "background-menu");
}

.nav-link:hover {
    background-color: map-get($colors, "secundary");
    border-radius: 5px;
    transition: 0.5s;
}


#a-h1{
    font-family: 'News Cycle', sans-serif;
    font-family: 'Newsreader', serif;
    margin-left: 40px;
    line-height: 80px; 
}

#a-h1:hover {
    color: map-get($colors, "primary");
    transition: 0.5s;
    text-decoration: underline;
    cursor: hand;    
    transition: 0.5s;
}
.navbar-toggler{
    width: 55px;
    height: 50px;
    background-color: map-get($colors, "primary");
} 

.imagenportada{
    width: 100%;
    height: 100%;
}