/* Edicion de titulos*/

h2 {
    font-size: 40px;
    color: blanchedalmond;
    font-family: 'News Cycle', sans-serif;
    font-family: 'Newsreader', serif;
    display: flex;
    justify-content: center;
}

h3{
    color: blanchedalmond;
    font-family: 'News Cycle', sans-serif;
    font-family: 'Newsreader', serif;
    justify-content: center;
}

/*Fin de edicion de titulos*/