
.section-bio {
    position: relative;
    top: 10px;
}

.about-me {
    padding: 5%;
    
}
.nav-bio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen-bio {
    border-radius: 100% ;
    width: 30%;
    height: 30%;
    padding-bottom: 4%;
}
.h2-statement {
    padding-top: 4%;
    font-size: 150%;
}
.text-bio {
    margin-left: 20%;
    margin-right: 20%;
    padding-top:2%;
    text-align: justify;
    color: blanchedalmond;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: 100%;
}