/*-------Full Responsive--------*/
@media screen and (max-width: 1200px){

    .div-galeria{
        display: grid;
        justify-content: center;
        grid-template-areas: 
        "a b" "c d" "e f" "g h" "i 0";
        gap: 20px;
    }
    .img-galeria {
        width: 300px;
        border-radius: 3px;
    }

    form {
     min-width: 40%;
    }
 
    /*Seccion Works a*/
    .div-works-a{
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "a b"
    "c d"
    "e f";
    gap: 20px;
    }
    .img-works-a {
    width: 300px;
    border-radius: 3px; 
    }

/*Seccion Works b*/
    .div-works-b{
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "a b"
    "c d"
    "e f";
    gap: 20px;
    }
    .img-works-b {
    width: 300px;
    border-radius: 3px; 
    }

    /*Formulario de Contacto*/
    form {
    min-width: 40%;
    }
    .relleno {
    font-size: smaller;
    }
}
@media screen and (max-width: 991px){

    .nav-item {
        margin-left: 40px;
        margin-top: 25px;
    }

    .navbar-nav{
        margin-top: 12px;
        max-width: 120px;
        max-height: 600px;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.493);
    }

}

@media screen and (max-width: 664px){

    .div-galeria{
        display: grid;
        justify-content: center;
        grid-template-areas: 
        "a" "b" "c" "d" "e" "f" "g" "h" "i";
        gap: 20px;
    }
    .img-galeria {
        width: 350px;
        border-radius: 3px;
    }

    /*Seccion Works a*/

    .div-works-a{
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "a" "b" "c" "d" "e" "f";
    gap: 20px;
}
    .img-works-a {
    width: 350px;
    border-radius: 3px;
}

/*Seccion Works b*/

    .div-works-b{
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "a" "b" "c" "d" "e" "f";
    gap: 20px;
}
    .img-works-b {
    width: 350px;
    border-radius: 3px;
}
}
@media screen and (max-width: 376px){

    #header-menu {
        height: 160px;
        background-color: rgba(0, 0, 0, 0.493);
    }

}
@media screen and (max-width: 399px){

    .img-galeria {
        width: 230px;
        border-radius: 3px;
    }

    /*Seccion Works a*/

    .img-works-a {
    width: 230px;
    border-radius: 3px;
}

/*Seccion Works b*/

.img-works-b {
    width: 230px;
    border-radius: 3px;
}
}
@media screen and (max-width: 399px){

    #a-h1{
        font-size: small;
        margin-left: 5px;

    }
    #header-menu {
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 8%;
    }
}
/*-------Fin Full Responsive--------*/