$primary: rgb(236, 196, 130);
$secundary: rgb(153, 139, 118);
$background-menu:rgba(0, 0, 0, 0.493);
$background: black;

$colors: (
"primary": rgb(236, 196, 130), 
"secundary": $secundary, 
"background-menu":  rgba(0, 0, 0, 0.493),
"background": black,
);
